<div class="post">
  <a href="{{ page.url }}">
    {% set preview_image = page.header.preview_image %}
    {% set page_title = page.title %}

    <div class="post-image">
      {{ page.media[preview_image].cropZoom(256,256).html(page_title, 'preview_image') }}
    </div>

    <div class="post-data">
      <div class="post-date">{{ page.header.date }}</div>
      <h2 class="post-title">{{ page.title }}</h2>
      <div class="post-body">
        {{ page.summary(300) }}
      </div>
    </div>
  </a>
</div>
